---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Course Projects</h2>
{% for post in site.course_projects %}
  {% include archive-single.html %}
{% endfor %}

<h2>Academic Projects</h2>
{% for post in site.academic_projects %}
  {% include archive-single.html %}
{% endfor %}

<h2>Competitions</h2>
{% for post in site.competitions %}
  {% include archive-single.html %}
{% endfor %}

<h2>Paper Implementations</h2>
<!-- {% for post in site.implementations %}
  {% include archive-single.html %}
{% endfor %} -->
<ul>
  <li><a href="https://github.com/Xerefic/Projects/tree/main/CV/GANs/Inpainting">Generative Image In-painting with Contextual Attention</a></li>
  <li><a href="https://github.com/Xerefic/Projects/tree/main/CV/GANs/StyleGAN">Style-Based Generator Architecture for Generative Adversarial Network</a></li>
  <li><a href="https://github.com/Xerefic/Projects/tree/main/CV/GANs/StackGAN">Text to Photo-realistic Image Synthesis with Stacked Generative Adversarial Networks</a></li>
  <li><a href="https://github.com/Xerefic/Projects/tree/main/CV/GANs/Pix2Pix">Image-To-Image Translation with Conditional Adversarial Networks</a></li>
  <li><a href="https://github.com/Xerefic/Projects/tree/main/CV/Segmentation/PSPNet">Pyramid Scene Parsing Network</a></li>
</ul> 